<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %><br />
    <%= collection_select :transaction, :contact_id, Contact.find(:all), :id, :caption %>
  </div>
  <div class="field">
    <%= f.label :transaction_method_id %><br />
    <%= collection_select :transaction, :transaction_method_id, TransactionMethod.find(:all), :id, :caption %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_field :memo %>
  </div>
  <div class="field">
    <%= f.label :refnum %><br />
    <%= f.text_field :refnum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
