<p id="notice"><%= notice %></p>

<p>
  <b>Caption:</b>
  <%= @account.caption %>
</p>

<p>
  <b>Category:</b>
  <%= @account.category.caption %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
